<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jw.cool.xuanmusicplayer" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaylistActivity"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SlidingPaneLayoutActivity"/>

        <service android:exported="true" android:name=".coreservice.MusicService">
            <intent-filter>
                <action android:name="com.jw.musicplayer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.jw.musicplayer.action.PLAY" />
                <action android:name="com.jw.musicplayer.action.PAUSE" />
                <action android:name="com.jw.musicplayer.action.SKIP" />
                <action android:name="com.jw.musicplayer.action.REWIND" />
                <action android:name="com.jw.musicplayer.action.STOP" />
                <action android:name="com.jw.musicplayer.action.PREVIOUS" />
                <action android:name="com.jw.musicplayer.action.SEEK" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jw.musicplayer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name=".coreservice.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:name=".PlayActivity">
            <intent-filter>
                <action android:name="com.jw.musicplayer.action.PlayActivity"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
